.centercard{
  
    margin-left: 20%;
    margin-bottom: 20%;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 999;
 
  }


  .container {
 
  }
  .z-index-10 {
    z-index:999;
  }
 